{% extends 'base.html.twig' %}

{% block body %}
<h2>All articles on {{ category }}</h2>
{% for article in articles %}
    <div>
        <h2>{{ article.id }} ) {{ article.title }} - Category : {{ article.category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>
{% else %}
    Aucun article trouvé.
{% endfor %}
{% endblock %}